<section class="section-details">
  <h5 class="section-title ng-binding">Voicemail options</h5>
  <div class="control is-grouped is-horizontal">
    <div class="control is-grouped">
      <div class="control">
        <div class="checkbox check-complete">
          <input type="checkbox" data-ng-model="SetupUserDetailsController.record.extras.is_voicemail_enabled" id="checkboxVoicemailEnabled"
            class="ng-pristine ng-untouched ng-valid ng-not-empty" style="">
          <label for="checkboxVoicemailEnabled" class="ng-binding">Enable Voicemail Box of User Calls</label>
          <i class="icon-tooltip icon-fontello-tool_tip_icon-08 ng-isolate-scope"
            tag="ADMIN_TOOLTIP_00082" placement="left" data-original-title="" title=""></i>
        </div>
      </div>
    </div>
  </div>
  <!-- ngIf: SetupUserDetailsController.record.extras.is_voicemail_enabled -->
  <div class="control is-horizontal ng-scope" data-ng-if="SetupUserDetailsController.record.extras.is_voicemail_enabled"
    style="">
    <div class="control-label">
      <label class="label has-text-left ng-binding">Password</label>
    </div>
    <div class="control">
      <input class="input ng-pristine ng-untouched ng-valid ng-not-empty" type="text" data-ng-model="SetupUserDetailsController.record.extras.voicemail_pin"
        placeholder="Password">
      <i class="icon-tooltip icon-fontello-tool_tip_icon-08 ng-isolate-scope" tag="ADMIN_TOOLTIP_00083" placement="left"
        data-original-title="" title=""></i>
    </div>
  </div>
  <!-- end ngIf: SetupUserDetailsController.record.extras.is_voicemail_enabled -->
  <!-- ngIf: SetupUserDetailsController.record.extras.is_voicemail_enabled -->
  <h5 class="section-title ng-binding ng-scope" data-ng-if="SetupUserDetailsController.record.extras.is_voicemail_enabled"
    style="">Voicemail Greeting</h5>
  <!-- end ngIf: SetupUserDetailsController.record.extras.is_voicemail_enabled -->
  <!-- ngIf: SetupUserDetailsController.record.extras.is_voicemail_enabled -->
  <div class="control ng-scope" data-ng-if="SetupUserDetailsController.record.extras.is_voicemail_enabled" style="">
    <div class="radio radio-complete">
      <input type="radio" name="greeting_type" value="NONE" data-ng-model="SetupUserDetailsController.record.extras.greeting.type"
        id="radioGreetingAuto" class="ng-pristine ng-untouched ng-valid ng-not-empty">
      <label for="radioGreetingAuto" class="ng-binding"> Use Automatic Greeting</label>
      <i class="icon-tooltip icon-fontello-tool_tip_icon-08 ng-isolate-scope" tag="ADMIN_TOOLTIP_00084"
        placement="left" data-original-title="" title=""></i>
    </div>
  </div>
  <!-- end ngIf: SetupUserDetailsController.record.extras.is_voicemail_enabled -->
  <!-- ngIf: SetupUserDetailsController.record.extras.is_voicemail_enabled && SetupUserDetailsController.record.extras.greeting.type == 'RECORDING' -->
  <!-- ngIf: SetupUserDetailsController.record.extras.is_voicemail_enabled -->
  <div class="control ng-scope" data-ng-if="SetupUserDetailsController.record.extras.is_voicemail_enabled">
    <div class="control">
      <div class="radio radio-complete">
        <input type="radio" name="greeting_type" value="TEXT" data-ng-model="SetupUserDetailsController.record.extras.greeting.type"
          id="radioGreetingText" class="ng-pristine ng-untouched ng-valid ng-not-empty">
        <label for="radioGreetingText" class="ng-binding"> Say this</label>
        <i class="icon-tooltip icon-fontello-tool_tip_icon-08 ng-isolate-scope" tag="ADMIN_TOOLTIP_00085"
          placement="left" data-original-title="" title=""></i>
      </div>
    </div>
    <div class="control">
      <input class="input ng-pristine ng-untouched ng-valid ng-empty" type="text" data-ng-model="SetupUserDetailsController.record.extras.greeting.text_to_speech"
        placeholder="Say this"> </div>
  </div>
  <!-- end ngIf: SetupUserDetailsController.record.extras.is_voicemail_enabled -->
  <!-- ngIf: SetupUserDetailsController.record.extras.is_voicemail_enabled && SetupUserDetailsController.record.extras.greeting.type == 'TEXT' -->
  <!-- ngIf: SetupUserDetailsController.record.extras.is_voicemail_enabled -->
  <div class="control ng-scope" data-ng-if="SetupUserDetailsController.record.extras.is_voicemail_enabled">
    <div class="control">
      <div class="radio radio-complete">
        <input type="radio" name="greeting_type" value="FILE" data-ng-model="SetupUserDetailsController.record.extras.greeting.type"
          id="radioGreetingFile" class="ng-pristine ng-untouched ng-valid ng-not-empty">
        <label for="radioGreetingFile" class="ng-binding"> Use this file</label>
        <i class="icon-tooltip icon-fontello-tool_tip_icon-08 ng-isolate-scope" tag="ADMIN_TOOLTIP_00086"
          placement="left" data-original-title="" title=""></i>
      </div>
    </div>
    <div class="control">
      <span class="select is-fullwidth" data-ng-class="{'file-upload':SetupUserDetailsController.record.extras.greeting.file.id}">
        <select data-ng-model="SetupUserDetailsController.record.extras.greeting.file.id" data-ng-options="audio.id as audio.name for audio in SetupUserDetailsController.medias.rows"
          class="ng-pristine ng-untouched ng-valid ng-empty">
          <option value="" class="" selected="selected"></option>
        </select>
      </span>
      <!-- ngIf: SetupUserDetailsController.record.extras.greeting.file.id -->
    </div>
  </div>
  <!-- end ngIf: SetupUserDetailsController.record.extras.is_voicemail_enabled -->
  <!-- ngIf: SetupUserDetailsController.record.extras.is_voicemail_enabled -->
  <div class="control is-grouped has-addons has-addons-right ng-scope" data-file-upload="SetupUserDetailsController.uploadOptions"
    data-ng-if="SetupUserDetailsController.record.extras.is_voicemail_enabled" style="">
    <div class="control">
      <span class="fileinput-button ng-binding" data-ng-hide="active()">
        <i class="icon-fontello-upload"></i>
        <input type="file" name="file" accept=".mp3,.wav" data-ng-disabled="disabled"> Add New File </span>
      <div class="fileinput-button letter-holder ng-hide" data-ng-show="active()">
        <div class="l-1 letter">L</div>
        <div class="l-2 letter">o</div>
        <div class="l-3 letter">a</div>
        <div class="l-4 letter">d</div>
        <div class="l-5 letter">i</div>
        <div class="l-6 letter">n</div>
        <div class="l-7 letter">g</div>
        <div class="l-8 letter">.</div>
        <div class="l-9 letter">.</div>
        <div class="l-10 letter">.</div>
        <div class="ng-binding">&nbsp;&nbsp;&nbsp;0%</div>
      </div>
    </div>
  </div>
  <!-- end ngIf: SetupUserDetailsController.record.extras.is_voicemail_enabled -->
  <h5 class="section-title ng-binding">Callback Request</h5>
  <div class="control is-grouped">
    <div class="control">
      <div class="checkbox check-complete">
        <input type="checkbox" data-ng-model="SetupUserDetailsController.record.extras.is_callback_request_enabled" id="checkboxCallbackRequest"
          class="ng-pristine ng-untouched ng-valid ng-not-empty" style="">
        <label for="checkboxCallbackRequest" class="ng-binding">Use Callback Request</label>
      </div>
    </div>
  </div>
  <div class="control is-grouped">
    <div class="control">
      <div class="checkbox check-complete">
        <input type="checkbox" data-ng-model="SetupUserDetailsController.record.call_forward.require_keypress" id="checkboxRequireKeypress"
          class="ng-pristine ng-untouched ng-valid ng-not-empty" style="">
        <label for="checkboxRequireKeypress" class="ng-binding">Require key press to accept transferred calls</label>
      </div>
    </div>
  </div>
</section>