<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://login.qc.dev.ringbyname.com/" />
<title>Regular User Update</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">Regular User Update</td></tr>
</thead><tbody>
<tr>
	<td>assertText</td>
	<td>//div[@id='page-setup']/section/section/div/section/div/div/div/section/article/div</td>
	<td>101</td>
</tr>
<tr>
	<td>click</td>
	<td>css=div.name.ng-binding</td>
	<td></td>
</tr>
<tr>
	<td>assertElementPresent</td>
	<td>//input[@data-ng-model='SetupUserDetailsController.record.caller_id.internal.number']</td>
	<td></td>
</tr>
<tr>
	<td>assertValue</td>
	<td>xpath=(//input[@type='text'])[2]</td>
	<td>Dev QC1</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>xpath=(//input[@type='text'])[3]</td>
	<td>User</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>xpath=(//input[@type='text'])[4]</td>
	<td>devqc.user1@ringbyname.com</td>
</tr>
<tr>
	<td>assertSelectedLabel</td>
	<td>//div[@id='page-setup']/section/section/div/section[2]/div/div/form/section[2]/div[3]/div[2]/span/select</td>
	<td>12092573583 (New user 9432812)</td>
</tr>
<tr>
	<td>assertElementPresent</td>
	<td>//a[@data-ng-click='SetupUserDetailsController.getDeviceSettings($event, device)']</td>
	<td></td>
</tr>
<tr>
	<td>assertText</td>
	<td>//a[@data-ng-click='SetupUserDetailsController.getDeviceSettings($event, device)']</td>
	<td>glob:*9432812</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>xpath=(//input[@type='text'])[5]</td>
	<td>101</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>xpath=(//input[@type='text'])[6]</td>
	<td>12345</td>
</tr>
<tr>
	<td>assertChecked</td>
	<td>//input[@id='radioGreetingAuto']</td>
	<td></td>
</tr>
<tr>
	<td>assertChecked</td>
	<td>//input[@id='checkboxCallbackRequest']</td>
	<td></td>
</tr>
<tr>
	<td>assertChecked</td>
	<td>//input[@id='checkboxRequireKeypress']</td>
	<td></td>
</tr>
<tr>
	<td>assertValue</td>
	<td>xpath=(//input[@type='text'])[8]</td>
	<td>3</td>
</tr>
<tr>
	<td>assertChecked</td>
	<td>//input[@id='checkboxPermissions']</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>xpath=(//input[@type='text'])[2]</td>
	<td>CHANGEDDev QC1</td>
</tr>
<tr>
	<td>type</td>
	<td>xpath=(//input[@type='text'])[3]</td>
	<td>CHANGEDUser</td>
</tr>
<tr>
	<td>type</td>
	<td>xpath=(//input[@type='text'])[4]</td>
	<td>CHANGEDdevqc.user1@ringbyname.com</td>
</tr>
<tr>
	<td>type</td>
	<td>xpath=(//input[@type='text'])[5]</td>
	<td>201</td>
</tr>
<tr>
	<td>select</td>
	<td>//div[@id='page-setup']/section/section/div/section[2]/div/div/form/section[2]/div[3]/div[2]/span/select</td>
	<td>label=12092573699 (Dev QC Company 2)</td>
</tr>
<tr>
	<td>click</td>
	<td>//a[@data-ng-click='SetupUserDetailsController.addSoftphone($event)']</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>//a[@data-ng-click='SetupUserDetailsController.addCellphone($event)']</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>//input[@type='text']</td>
	<td>Cellphone</td>
</tr>
<tr>
	<td>type</td>
	<td>xpath=(//input[@type='text'])[2]</td>
	<td>1234567890</td>
</tr>
<tr>
	<td>click</td>
	<td>//button[@type='submit']</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>xpath=(//input[@type='text'])[6]</td>
	<td>000345</td>
</tr>
<tr>
	<td>click</td>
	<td>id=radioGreetingText</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>xpath=(//input[@type='text'])[7]</td>
	<td>CHANGED</td>
</tr>
<tr>
	<td>click</td>
	<td>id=checkboxCallbackRequest</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>id=checkboxRequireKeypress</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>xpath=(//input[@type='text'])[8]</td>
	<td>5</td>
</tr>
<tr>
	<td>click</td>
	<td>id=checkboxPermissions</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>xpath=(//button[@type='submit'])[2]</td>
	<td></td>
</tr>
<tr>
	<td>waitForElementPresent</td>
	<td>//div[@id='page-setup']/section/section/div/section[2]/div/div/p/i</td>
	<td></td>
</tr>
<tr>
	<td>pause</td>
	<td>5000</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>//div[@id='page-setup']/section/section/div/section/div/div/div/section/article/div</td>
	<td></td>
</tr>
<tr>
	<td>assertValue</td>
	<td>xpath=(//input[@type='text'])[2]</td>
	<td>CHANGEDDev QC1</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>xpath=(//input[@type='text'])[3]</td>
	<td>CHANGEDUser</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>xpath=(//input[@type='text'])[4]</td>
	<td>changeddevqc.user1@ringbyname.com</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>xpath=(//input[@type='text'])[5]</td>
	<td>201</td>
</tr>
<tr>
	<td>assertSelectedLabel</td>
	<td>//div[@id='page-setup']/section/section/div/section[2]/div/div/form/section[2]/div[3]/div[2]/span/select</td>
	<td>12092573699 (Dev QC Company 2)</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>xpath=(//input[@type='text'])[6]</td>
	<td>000345</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>xpath=(//input[@type='text'])[7]</td>
	<td>CHANGED</td>
</tr>
<tr>
	<td>assertChecked</td>
	<td>//input[@id='radioGreetingText']</td>
	<td></td>
</tr>
<tr>
	<td>assertNotChecked</td>
	<td>//input[@id='checkboxCallbackRequest']</td>
	<td></td>
</tr>
<tr>
	<td>assertNotChecked</td>
	<td>//input[@id='checkboxRequireKeypress']</td>
	<td></td>
</tr>
<tr>
	<td>assertValue</td>
	<td>xpath=(//input[@type='text'])[8]</td>
	<td>5</td>
</tr>
<tr>
	<td>assertNotChecked</td>
	<td>//input[@id='checkboxPermissions']</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>xpath=(//input[@type='text'])[2]</td>
	<td>Dev QC1</td>
</tr>
<tr>
	<td>type</td>
	<td>xpath=(//input[@type='text'])[3]</td>
	<td>User</td>
</tr>
<tr>
	<td>type</td>
	<td>xpath=(//input[@type='text'])[4]</td>
	<td>devqc.user1@ringbyname.com</td>
</tr>
<tr>
	<td>type</td>
	<td>xpath=(//input[@type='text'])[5]</td>
	<td>101</td>
</tr>
<tr>
	<td>select</td>
	<td>//div[@id='page-setup']/section/section/div/section[2]/div/div/form/section[2]/div[3]/div[2]/span/select</td>
	<td>label=12092573583 (New user 9432812)</td>
</tr>
<tr>
	<td>type</td>
	<td>xpath=(//input[@type='text'])[6]</td>
	<td>12345</td>
</tr>
<tr>
	<td>type</td>
	<td>xpath=(//input[@type='text'])[7]</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>css=img.icon-fontello-trash.ng-scope</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>css=img.icon-fontello-trash</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>id=radioGreetingAuto</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>id=checkboxCallbackRequest</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>id=checkboxRequireKeypress</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>xpath=(//input[@type='text'])[8]</td>
	<td>3</td>
</tr>
<tr>
	<td>click</td>
	<td>id=checkboxPermissions</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>xpath=(//button[@type='submit'])[2]</td>
	<td></td>
</tr>
<tr>
	<td>assertElementPresent</td>
	<td>//div[@id='page-setup']/section/section/div/section[2]/div/div/p/i</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>//div[@id='page-setup']/section/section/div/section/div/div/div/section/article/div</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>id=checkboxVoicemailEnabled</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>xpath=(//button[@type='submit'])[2]</td>
	<td></td>
</tr>
<tr>
	<td>assertElementPresent</td>
	<td>//div[@id='page-setup']/section/section/div/section[2]/div/div/p/i</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>//div[@id='page-setup']/section/section/div/section/div/div/div/section/article/div</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>id=checkboxVoicemailEnabled</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>xpath=(//button[@type='submit'])[2]</td>
	<td></td>
</tr>
<tr>
	<td>assertElementPresent</td>
	<td>//div[@id='page-setup']/section/section/div/section[2]/div/div/p/i</td>
	<td></td>
</tr>
</tbody></table>
</body>
</html>
